configuration_1_3.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!--

Checkstyle configuration DTD 1.3
Authors: Oliver Burn, Jan Wloka, Bjarki Agesth, Richard Veach

This DTD module is identified by the PUBLIC and SYSTEM identifiers:

PUBLIC "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
SYSTEM "https://checkstyle.org/dtds/configuration_1_3.dtd"

-->

<!ELEMENT module (module|property|metadata|message)*>
<!ATTLIST module name NMTOKEN #REQUIRED>

<!ELEMENT property EMPTY>
<!ATTLIST property
        name NMTOKEN #REQUIRED
        value CDATA #REQUIRED
        default CDATA #IMPLIED
>

<!ELEMENT metadata EMPTY>
<!ATTLIST metadata
        name NMTOKEN #REQUIRED
        value CDATA #REQUIRED
>

<!ELEMENT message EMPTY>
<!ATTLIST message
        key NMTOKEN #REQUIRED
        value CDATA #REQUIRED
>

